
<div class="card event-card" style="width: 18rem;">
  <img class="card-img-top" src="{{activity.image_url}}" alt="Card image cap">
  <div class="card-body">
  <h5 class="card-title">{{activity.title}}</h5>
    <p class="card-text">{{event_name}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Participants: {{min_participants}} - {{max_participants}}</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

<script src="/javascript/all-events.js"></script>