<section>
     <a href="/dashboard"> &larr; Back to My dashboard</a>
     
  <h2 class="text-light">Single Event</h2>

    <div class="card col-12">
        <div class="card-body">
            <h5 class="card-title text-light" id="event-name">Event</h5>
            <p class="card-text text-light" id="event-name">Event Name: {{event.event_name}}</p>
            <p class="card-text text-light" id="event-description">Description: {{event.description}}</p>
            <p class="card-text text-light" id="event-begining-time">Time Begin: {{event.time_begin}}</p>
            <p class="card-text text-light" id="event-end-time">Ending time: {{event.time_end}}</p>
            <p class="card-text text-light" id="event-max-participants">Maximum Participants: {{event.max_participants}}</p>
            <p class="card-text text-light" id="event-min-participants">Minimum Participants: {{event.min_partcipants}}</p>
        </div>
    </div>

</section>
  
<script src="/javascript/single-event.js"></script>