{{> nav-bar }}
<style>
  main {
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    }
  label {
  color:whitesmoke
  }
</style>
<div class="col-lg-9 col-md-8 col-sm-7" id="editSubmit">
  <main class="col-lg-9 col-md-8 col-sm-12">
    <a href="/dashboard"> &larr; Back to My dashboard</a>
    <h2 style="color:whitesmoke" >Edit Profile</h2>
      <form class="edit-profile"></form>
        <input name="edit-first_name" type="text" value="{{User.first_name}}" placeholder="Enter your first name" />
        <span>{{User.first_name}}</span>
        <input name="edit-last-name" type="text" value="{{User.last_name}}" placeholder="Enter your last name" />
        <span>{{User.last_name}}</span>
        <input name="edit-email" type="text" value="{{user.email}}" placeholder="Enter your email" />
        <span>{{email}}</span>
        <button type="submit" class="btn btn-light">Save changes</button>
      </form>
  </main>
</div>
<script src="/javascript/edit-user.js"></script>